@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-dots {
  bottom: -40px;
}

.slick-slide > div {
  margin: 0 30px;
}
.slick-list {
  margin: 0 -30px;
}

.line-indicator li {
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #82adad;
  transition: all 0.2s ease-in-out;
  margin: 0 8px;
}

.line-indicator li.slick-active {
  background-color: #008080;
}

@media only screen and (max-width: 639px) {
  .slick-dots {
    bottom: -15px;
  }
}
